{% load bootstrap4 %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Learning Log</title>
    
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
  </head>
  <body>
    
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
      <a class="navbar-brand" href="{% url 'learning_logs_app:index' %}">Learning Log</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'learning_logs_app:topics' %}">Topics</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <div>
                <button class="btn btn-link text-muted btn-sm text-decoration-none" data-toggle="dropdown">
                  <span class="navbar-brand">Hello, {{ user.username }}.</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item text-decoration-none" href="{% url 'learning_logs_app:notifications' %}">Notifications</a>
                  <a class="dropdown-item text-decoration-none" href="{% url 'learning_logs_app:feedback' %}">Seed Feedback</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item text-danger text-decoration-none" href="{% url 'user_app:logout' %}">Logout</a>
                </div>
              </div>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_app:login' %}?next={% url 'learning_logs_app:index' %}">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_app:register' %}">Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
      
    </nav>
    
    <main role="main" class="container">
      <div class="pb-2 mb-3 border-bottom">
        {% block page_header %}{% endblock page_header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </main>
  
  </body>

</html>