{% extends "learning_logs_app/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Send Feedback</h2>
{% endblock page_header %}

{% block content %}
    <p>We value your feedback! Please fill out the form below to send us your thoughts, suggestions, or any issues you've encountered.</p>
    <form method="post" action="{% url 'learning_logs_app:feedback' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Submit Feedback</button>
    </form>
{% endblock content %}